In [296]:
import pandas as pd
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error
import cv2
import numpy as np

In [297]:
titanic_train = pd.read_csv('train.csv')
titanic_test = pd.read_csv('test.csv')
pred_y = pd.read_csv('gender_submission.csv')

In [319]:
features = ['PassengerId','Pclass','SibSp',
       'Parch','Fare']
titanic_train = titanic_train.select_dtypes(exclude=['object'])
titanic_test = titanic_test.select_dtypes(exclude=['object'])
for i in features:
        X = titanic_train[features].replace(np.NaN,titanic_train[features].mean())
        test_X = titanic_test[features].replace(np.NaN,titanic_test[features].mean())

In [320]:
y = titanic_train.Survived

In [321]:
test_X = titanic_test[features]
test_y = pred_y.Survived

In [354]:
model = RandomForestRegressor(max_leaf_nodes=100,random_state = 1)

In [355]:
model.fit(X,y)

/usr/lib/python3.7/site-packages/sklearn/ensemble/forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
                      max_features='auto', max_leaf_nodes=100,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, n_estimators=10,
                      n_jobs=None, oob_score=False, random_state=1, verbose=0,
                      warm_start=False)

In [356]:
pred = model.predict(test_X)

In [357]:
pred = np.rint(pred)
pred

array([0., 0., 0., 0., 1., 0., 0., 1., 0., 0., 0., 1., 1., 1., 1., 1., 0.,
       1., 0., 1., 1., 1., 1., 1., 1., 0., 1., 1., 1., 0., 1., 1., 1., 0.,
       1., 0., 0., 0., 0., 1., 1., 1., 0., 0., 1., 0., 1., 0., 1., 1., 1.,
       0., 1., 1., 1., 0., 0., 0., 0., 1., 0., 0., 0., 0., 1., 1., 0., 1.,
       1., 1., 0., 0., 0., 1., 1., 1., 0., 1., 0., 0., 0., 1., 1., 0., 0.,
       0., 0., 0., 0., 1., 0., 0., 1., 0., 1., 0., 1., 0., 0., 0., 1., 1.,
       0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 1., 0., 1., 0., 0., 1., 1.,
       1., 1., 0., 1., 0., 0., 1., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0.,
       1., 0., 0., 0., 0., 1., 1., 1., 1., 0., 1., 0., 1., 1., 1., 0., 0.,
       1., 0., 0., 1., 0., 1., 0., 0., 0., 0., 0., 0., 0., 1., 0., 1., 0.,
       0., 1., 0., 0., 0., 1., 1., 1., 1., 1., 0., 1., 1., 0., 1., 1., 1.,
       0., 0., 0., 1., 1., 0., 0., 1., 0., 1., 0., 0., 0., 0., 0., 1., 1.,
       0., 1., 0., 0., 1., 0., 0., 0., 0., 1., 0., 1., 0., 1., 1., 0., 1.,
       0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 1., 0., 0., 1., 0., 1., 1.,
       1., 1., 1., 1., 1., 0., 0., 1., 1., 1., 1., 0., 1., 0., 1., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 1., 1., 0., 0., 0., 0., 0., 0., 1., 0.,
       1., 0., 1., 1., 0., 1., 1., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0.,
       0., 1., 0., 0., 1., 0., 0., 1., 0., 1., 0., 0., 0., 1., 0., 0., 1.,
       1., 1., 1., 0., 0., 1., 0., 0., 1., 0., 1., 0., 0., 1., 0., 0., 0.,
       1., 1., 0., 1., 1., 1., 0., 1., 1., 1., 1., 0., 1., 0., 1., 1., 0.,
       0., 0., 0., 1., 0., 0., 0., 0., 0., 1., 1., 0., 0., 1., 1., 1., 1.,
       0., 0., 0., 0., 1., 1., 0., 1., 0., 0., 0., 1., 0., 0., 1., 0., 0.,
       1., 1., 0., 0., 1., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 1.,
       1., 1., 0., 0., 1., 0., 1., 0., 0., 1., 1., 1., 1., 1., 0., 0., 1.,
       0., 0., 0., 1., 0., 0., 1., 0., 0., 0.])

In [358]:
mean_absolute_error(test_y,pred)

0.3708133971291866

In [359]:
test_X['Survived_predict'] = pred
test_X

     PassengerId  Pclass  SibSp  Parch      Fare  Survived_predict
0            892       3      0      0    7.8292               0.0
1            893       3      1      0    7.0000               0.0
2            894       2      0      0    9.6875               0.0
3            895       3      0      0    8.6625               0.0
4            896       3      1      1   12.2875               1.0
..           ...     ...    ...    ...       ...               ...
413         1305       3      0      0    8.0500               0.0
414         1306       1      0      0  108.9000               1.0
415         1307       3      0      0    7.2500               0.0
416         1308       3      0      0    8.0500               0.0
417         1309       3      1      1   22.3583               0.0

[418 rows x 6 columns]

In [360]:
test_X.to_csv('output.csv')